.detailsEdit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--cards-background);
    width: 50%;
    border-radius: 0.3cm;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

label {
    text-transform: uppercase;
    color: rgb(148, 147, 147);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

.mail-phone {
    display: flex;
    gap: 20px;
    width: 100%;
    flex: 1;
}

input {
    width: 100%;
}