.experienceEdit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.inputDiv{
    display: flex;
    gap: 5px;
}

label{
    text-transform: uppercase;
    color: rgb(148, 147, 147);
    font-weight: 500;
}

/* after submiting */
.experience{
    margin-top: 20px;
}
