.experienceEdit{
  display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--cards-background);
    width: 50%;
    border-radius: 0.3cm;
}

.inputDiv{
    display: flex;
    gap: 5px;
}

label{
    text-transform: uppercase;
    color: rgb(148, 147, 147);
    font-weight: 500;
}

/* after submiting */
.experience{
    margin-top: 20px;
}

.company-positio,
.dates {
    display: flex;
    gap: 20px;
    width: 100%;
    flex: 1;
}